.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 24px;
  }
  
  ul{
    display: flex;
    width: 40%;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #fff;
  }

  .ulli{
    display: flex;
    width: 40%;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #fff;
  }

  .navbar-menu-item{
    margin-left: 20%;
    text-decoration: none;
  }

  .navbar-toggle {
    display: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .navbar-toggle-icon:before {
    content: '\f0c9';
    font-family: FontAwesome;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
    }
  
    .navbar-menu {
      display: none;
      flex-basis: 100%;
      margin: 0;
      padding: 0;
    }
  
    .navbar-menu.open {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
    }
  
    .navbar-menu-item {
      margin: 10px 0;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-toggle.open {
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }